# This file contains config for Home Assistant unique to your installation and should not be overwritten with each update of House Battery Control
# It should be included in the main configuration.yaml file as a `package` via `!include_dir_named` https://www.home-assistant.io/docs/configuration/packages/.
# Use the values below as a `template` for your specific needs

template:
  - sensor:
      # House battery control | Grid power
      # Your P1 meter indicates the power drawn or returned to grid.
      # This "P1 meter power" sensor acts as an alias for you power sensing configuration and is used throughout the node-RED scripts.
      - name: "Grid Power"
        default_entity_id: sensor.p1_meter_power
        state: "{{ states('sensor.dsmr_power_current') }}"
        unit_of_measurement: "W"
        device_class: "power"
        state_class: "measurement"

input_number:
  house_battery_strategy_maximum_peak:
    name: "Peak Shaving Maximum Allowed Peak"
    min: 2000
    max: 10000
    step: 100
    unit_of_measurement: "W"
    mode: box
    icon: mdi:summit

input_boolean:
  house_battery_strategy_charge_allow_discharging:
    name: Allow discharging
    icon: mdi:battery-arrow-down